* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 20px;
  font-family: sans-serif;
}

h1 {
  font-size: 32px;
  margin-bottom: 10px;
  color: darkslategray;
}


.btn {
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: antiquewhite;
  margin: 10px 10px 10px 0px;

  &:hover {
    background-color: khaki;
  }
}

input {
  display: block;
  margin: 10px 0;
  padding: 8px;
  font-size: 16px;
}

.buttonDiv {
  background-color: red;
}

.summary-container {
  display: flex;
  flex-direction: column-reverse;
}


.debt-container {
  border: 1px solid #ccc;
  padding: 15px;
  margin-top: 20px;
  border-radius: 8px;
  background-color:azure;

   &.ubetalt {
    background-color:#ffb8b8;
    border-color: #ff6161;

    & .debt-item {
      border-color: #ff6161;
    }
   }

  & .creditor-header{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }


  & .debt-amount{
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 10px;
  }

  
  & .debt-small-header{
    font-size: 13px;
  }

  & .debt-item {
    border-top: 1px solid #eee;
    padding: 10px 0;

    &:first-child {
      border-top: none;
    }
  }

  & h3 {
    font-size: 16px;
    margin-bottom: 5px;
  }

  & p {
    font-size: 13px;
  }


}
