* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 10px;
  font-family: sans-serif;
}

h1 {
  font-size: 32px;
  margin: 10px;
  color:darkslategray;
}

.btn {
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: antiquewhite;
  margin: 10px;

  &:hover{
    background-color: khaki;
  }

}
